	.container{
		width:400px;
		background:#ffffff;
		border:2px solid #e2e2e2;
		margin:auto;
		padding:15px;
		font-family: "Bahnschrift Condensed";
		border-radius: 15px;
	}
	h1{
		text-align:center;
		font-family: "Agency FB";
	}
	h1 span{
		color:#ff4343
	}
	input{
		width:100%;
		height:20px;
		margin-top:5px;
		padding:7px;
		border:1px solid #e2e2e2;
	}
	form{
		font-weight:bold;
		letter-spacing:1px
	}
	#btn{
		height:30px;
		padding:0px;
		background:skyblue;
		border:1px solid blue;
		color:white;
		font-size:15px;
		margin-top:30px
	}
	#age{
		border:2px solid #e2e2e2;
		margin-top:20px;
		overflow:hidden;
		position:relative;
		padding-bottom:20px
	}
	#age h4{
		text-align:center;
	}
	#age div{
      width:calc(100%/3);
      float:left;
      text-align:center;
	}
	#age div span{
	  color:skyblue;
      font-size:30px;
	}
	input[type=submit]:hover{
		background-color:#53c4f2 !important
	}
	.Nb{
		width:50% !important;
	}
	.Nb span{
		padding-right:10px;
		margin-top:10px
	}
	.dayofnb{
      font-size:10px;
      padding:5px;
      position: absolute;
      bottom:0;
      left:calc(50% - 75px/2);
      width:75px !important;
	}
	table{
		width:100%;
		font-family: "Bahnschrift Condensed";
		font-weight: bold
	}
	table td{
		width:50%;
		text-align: right;
		font-size:14px
	}
	[data-value],.showday{
		color: skyblue;
		text-align:left;
		padding-left: 20px
	}
	.dropdown{
		width:50px;
		background:#f4f4f4;
		border:1px solid #e2e2e2;
		font-size:10px;
		text-align: center;
		position: absolute;
		margin-top:4px;
		left:calc(50% - 25px);
		cursor: pointer;
		transition:0.2s;
		display:none
	}
	.on{
		display: none;
	}